/* General Settings */

html, body, div, p, input, label{
	margin: 0;
	padding: 0;
}

body{
	background: #eee;
	position: relative;
	font-family: arial, serif;
}

button {
    border-style: none;
    background: #ccc;
    color: #222;
    border-radius: 3px;
    cursor: pointer;
}

button:focus, input:focus {
	outline: 0;
}

main {
	text-align: center;
}

form{
	width: 250px;
	border-bottom: 1px solid lightblue;
	padding-bottom: 5px;
	margin: 10px 0;
}

form input{
	width: 36px;
    text-align: center;
    font-size: 10px;
}


label, p{
	font-size: 10px;
}

.canvas-buffer{
	height: 100px;
	width: 100%;
}

.hidden {
	display: none;
}


/* Header Settings */
header{
	position: absolute;
	width: 250px;
	text-align: center;
	background: rgba(10,10,10,0.8);
	color: #eee;
}

.toolbarHeaderWrapper{
	width: 100%;
	padding: 10px;
	text-align: left;
}

#toolbar-header{
	display: inline-block;
	height: 20px;
	width: 80%;
	background: #aaa;
	cursor: move;
}

#btnKeys{
	height: 100%;
	background: #fff;
}

#btnExport {
    margin: 20px;
    height: 50px;
    width: 80px;
    color: #222;
    cursor: pointer;
}

#btnExport:active {
	background: #fff;
	color: #ff0000;
}

/*  Form Resize */
#form-resizeCanvas input{
	width: 60px;
}

#btn-add, #btn-minus{
	margin: 25px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    background: #fff;
    color: #222;
}

#btn-add:active, #btn-minus:active{
	background: #eee;
	color: #ff0000;
}

#inp-file{
	margin: 20px 10px;
}

#inp-file:focuse{
	outline: 0;
	cursor: pointer;
	margin: 20px 10px;
}


#img-holder {
    display: none;
	border: 3px solid pink;
	margin: 50px auto;
}


/*  Table Styles */
#keyHolderWrapper{
	position: absolute;
	right: 100px;
}

table{
	width: 250px;
	border: 2px solid #222;
	color: #fff;
	background: #333;
}

th, tr, td{
	border: 1px solid #ccc;
}

table

th{
	text-align: left;
	min-width: 50px;
}

#key-holder-grab-bar {
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	width: 60%;
	border: 0;	
}

.table-grab{
	display: inline-block;
	height: 20px;
	width:80%;
	background: #ccc;
	border: 0;
	cursor: move;
}

#table-min, #toolbarMin{
	display: inline-block;
	float: right;
	font-size: 20px;
	font-weight: 800;
	color: #fff;
	cursor: pointer;
}

#toolbarMin{
	margin-right: 20px;
}

#inpText{
	width: 80%;
}

.tdItem, .tdKey{
	text-align: center;
}

/* Key Text Area */

#keyHolderWrapper{
	background: #333;
	width: 250px;
}

#keysTextBox{
	display: none;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%);
	border: 3px solid black;
	background: #445;
	text-align: center;
}

#keysTextArea{
	display: block;
}

#btnLoadKeys{
	line-height: 30px;
    border-style: none;
    margin: 5px;
    background: #fff;
    color: red;
}

#btnKeys{
	margin: 10px;
	padding: 5px;
}

#keysTextClose{
	font-size: 20px;
    width: 30px;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}

#tdText{
	overflow: hidden;
}

.tableRow:hover{
	cursor: pointer;
	background: #ff00ff;
}

/*  XML Output */

aside#xmlOutputWrapper {
    border: 5px solid #445;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    height: 80vh;
    background: #fff;
    overflow: scroll;
}

textarea#taXML {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: scroll;
}

#xCloseXML {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #222;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}